In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A  0.416076
1  2000-01-04        A  0.260002
2  2000-01-05        A  0.175732
3  2000-01-03        B -0.412461
4  2000-01-04        B  0.756774
5  2000-01-05        B -0.060296
6  2000-01-03        C -1.762070
7  2000-01-04        C  0.038555
8  2000-01-05        C  0.744119
9  2000-01-03        D -0.615782
10 2000-01-04        D -0.050865
11 2000-01-05        D  1.271753

In [6]:
dframe_piv=dframe.pivot(index="date",columns="variable",values="value")
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.416076 -0.412461 -1.762070 -0.615782
2000-01-04  0.260002  0.756774  0.038555 -0.050865
2000-01-05  0.175732 -0.060296  0.744119  1.271753