In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
# concatenation in numpy

In [2]:
arr1=np.arange(9).reshape(3,3)
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [3]:
np.concatenate([arr1,arr1],axis=1) # axis=0 by default

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [ ]:
# concatenation in pandas

In [5]:
ser1=Series([0,1,2],index=["T","U","V"])
ser2= Series([3,4],index=["X","Y"])

In [6]:
pd.concat([ser1,ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [7]:
pd.concat([ser1,ser2],axis=1) #  creates DF

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [9]:
# set higher index
pd.concat([ser1,ser2],keys=["cat1","cat2"])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [10]:
dframe1= DataFrame(np.random.randn(4,3),columns=["X","Y","Z"])  # 4x3 matrix 
dframe2=DataFrame(np.random.randn(3,3),columns=["Y","Q","X"])  # 3x3

In [11]:
pd.concat([dframe1,dframe2])  # note that indeces are taken from the original data

          Q         X         Y         Z
0       NaN  1.103043  0.343837 -0.288655
1       NaN  1.165564 -1.075102 -1.351782
2       NaN -0.727803 -0.558192 -0.663391
3       NaN -1.397237  0.298348 -1.622443
0 -0.338786 -0.255098 -1.172030       NaN
1 -0.886375 -0.827024  0.504069       NaN
2 -0.192473 -0.670845  0.750419       NaN

In [12]:
pd.concat([dframe1,dframe2],ignore_index=True) # create a new index

          Q         X         Y         Z
0       NaN  1.103043  0.343837 -0.288655
1       NaN  1.165564 -1.075102 -1.351782
2       NaN -0.727803 -0.558192 -0.663391
3       NaN -1.397237  0.298348 -1.622443
4 -0.338786 -0.255098 -1.172030       NaN
5 -0.886375 -0.827024  0.504069       NaN
6 -0.192473 -0.670845  0.750419       NaN

In [13]:
# for more info
url='http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html'
import webbrowser
webbrowser.open(url)

True