In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import  randn  # Grab random numbers from normal dist

In [3]:
ser1 = Series([1,2,3,4], index=["A","B","C","D"])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2=ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0) # pass 0 to newly added values, instead of NaN

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser3= Series(["USA","Mexico","Canada"], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ranger=range(15)
ranger

range(0, 15)

In [10]:
ser3.reindex(ranger,method="ffill")  #forward fill: grab the value of the previous one, instead of NaN

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
# reindex raws and/or columns
dframe= DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])   # randn(25)-> create 25 random numbers, .reshape((5,5))-> reshape it into 5x5 matrix
dframe

       col1      col2      col3      col4      col5
A  0.557772  1.030584 -0.639372 -0.355554  0.620775
B  1.515610 -0.176041  0.861189  2.358289  2.063342
D -0.915668  0.328592  0.409861 -0.802498  0.679451
E -1.284030  0.664216  0.427272  0.769131  0.966932
F -0.665835 -0.179681  0.968055  1.085046  0.617666

In [12]:
dframe2=dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.557772  1.030584 -0.639372 -0.355554  0.620775
B  1.515610 -0.176041  0.861189  2.358289  2.063342
C       NaN       NaN       NaN       NaN       NaN
D -0.915668  0.328592  0.409861 -0.802498  0.679451
E -1.284030  0.664216  0.427272  0.769131  0.966932
F -0.665835 -0.179681  0.968055  1.085046  0.617666

In [15]:
new_columns=['col1','col2','col3','col4','col5','col6']

In [16]:
dframe2.reindex(columns=new_columns)  # reindex columns

       col1      col2      col3      col4      col5  col6
A  0.557772  1.030584 -0.639372 -0.355554  0.620775   NaN
B  1.515610 -0.176041  0.861189  2.358289  2.063342   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.915668  0.328592  0.409861 -0.802498  0.679451   NaN
E -1.284030  0.664216  0.427272  0.769131  0.966932   NaN
F -0.665835 -0.179681  0.968055  1.085046  0.617666   NaN

In [17]:
# You can reindex quickly just by using `.ix`
dframe.ix[['A','B','C','D','E','F'],new_columns] # first argument; rows, second; col

       col1      col2      col3      col4      col5  col6
A  0.557772  1.030584 -0.639372 -0.355554  0.620775   NaN
B  1.515610 -0.176041  0.861189  2.358289  2.063342   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.915668  0.328592  0.409861 -0.802498  0.679451   NaN
E -1.284030  0.664216  0.427272  0.769131  0.966932   NaN
F -0.665835 -0.179681  0.968055  1.085046  0.617666   NaN