In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
ser1=Series(np.arange(3),index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int64

In [4]:
ser1.drop('B')

A    0
C    2
dtype: int64

In [6]:
dframe1=DataFrame(np.arange(9).reshape((3,3)), index=["SF","LA","NY"],columns=["pop","size","year"])
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [7]:
dframe1.drop('LA') # This is temporarily. Original DF doesnt change

    pop  size  year
SF    0     1     2
NY    6     7     8

In [10]:
dframe1.drop("year",axis=1) # In case you drop the col, you need to specify the axis nr (axis=0 by default)

    pop  size
SF    0     1
LA    3     4
NY    6     7