In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe=pd.read_csv("lec25.csv")  # default : head=T
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [3]:
dframe=pd.read_csv("lec25.csv", header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [4]:
dframe=pd.read_table("lec25.csv", sep=",",header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [5]:
pd.read_csv("lec25.csv",header=None,nrows=2) # read only first two rows

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [6]:
dframe.to_csv("mytextdata_put.csv") #export file as csv to your local folder

In [7]:
# import files with other delimiters
import sys  # `sys` to see the output

In [8]:
dframe.to_csv(sys.stdout) # use `sys.stdout` to see the output directly w/o saving it,, default delimiter is comma

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [13]:
dframe.to_csv(sys.stdout, sep=";")  # you can choose a delimiter

;0;1;2;3;4
0;q;r;s;t;apple
1;2;3;4;5;pear
2;a;s;d;f;rabbit
3;5;2;5;7;dog

In [14]:
dframe.to_csv(sys.stdout, columns=[0,1,2])# choose to write only a specific subset of columns

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [15]:
#You should also check out pythons built-in csv reader and writer for more info:
# https://docs.python.org/2/library/csv.html