In [ ]:
# this is basically a special case of pivot table

In [1]:
import pandas as pd

In [7]:
from io import StringIO
# from StringIO import StringIO in Python 2

In [8]:
data="""\
Semple Animal Intelligence
1 Dog Smart
2 Dog Smart
3 Cat Dumb
4 Cat Dumb
5 Dog Dumb
6 Cat Smart"""

In [10]:
dframe= pd.read_table(StringIO(data),sep="\s+")
dframe

   Semple Animal Intelligence
0       1    Dog        Smart
1       2    Dog        Smart
2       3    Cat         Dumb
3       4    Cat         Dumb
4       5    Dog         Dumb
5       6    Cat        Smart

In [14]:
pd.crosstab(index=dframe.Animal,columns=dframe.Intelligence,margins=True) # frequency table

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6