In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0 -1.775308  0.422523  X  alpha
1 -0.131937 -1.474869  X   beta
2 -0.391469 -0.466540  Y  alpha
3  1.101283 -1.317454  Y   beta
4 -1.612099  1.004016  Z  alpha

In [10]:
group1=dframe["dataset1"].groupby(dframe["k1"])
group1

In [11]:
group1.mean()

k1
X   -0.953622
Y    0.354907
Z   -1.612099
Name: dataset1, dtype: float64

In [12]:
cities=np.array(['NY','LA','LA','NY','NY'])
month=np.array(['JAN','FEB','JAN','FEB','JAN'])

In [13]:
dframe["dataset1"].groupby([cities,month]).mean()  # computes mean based on the newly assigned array
# eg. 1st&5th rows in dataset1 have "NY" and "JAN" -> take mean of the two

LA  FEB   -0.131937
    JAN   -0.391469
NY  FEB    1.101283
    JAN   -1.693704
Name: dataset1, dtype: float64

In [14]:
dframe.groupby("k1").mean() #[dframe["dataset1"].groupby(dframe["k1"]).mean(), dframe["dataset2"].groupby(dframe["k1"]).mean()]

    dataset1  dataset2
k1
X  -0.953622 -0.526173
Y   0.354907 -0.891997
Z  -1.612099  1.004016

In [16]:
dframe.groupby(["k1","k2"]).mean()

          dataset1  dataset2
k1 k2
X  alpha -1.775308  0.422523
   beta  -0.131937 -1.474869
Y  alpha -0.391469 -0.466540
   beta   1.101283 -1.317454
Z  alpha -1.612099  1.004016

In [17]:
dframe

   dataset1  dataset2 k1     k2
0 -1.775308  0.422523  X  alpha
1 -0.131937 -1.474869  X   beta
2 -0.391469 -0.466540  Y  alpha
3  1.101283 -1.317454  Y   beta
4 -1.612099  1.004016  Z  alpha

In [18]:
dframe.groupby(["k1"]).size()   # computes how many "X"s are in DF

k1
X    2
Y    2
Z    1
dtype: int64

In [24]:
# iterate over group
for name, group in dframe.groupby("k1"):
        print("This is the %s group" %name)
        print(group)
        print("\n")   # `\n`new line
        
# there is a change from python2
"""for name,group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n"""

This is the X group
   dataset1  dataset2 k1     k2
0 -1.775308  0.422523  X  alpha
1 -0.131937 -1.474869  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -0.391469 -0.466540  Y  alpha
3  1.101283 -1.317454  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4 -1.612099  1.004016  Z  alpha

In [26]:
dframe

   dataset1  dataset2 k1     k2
0 -1.775308  0.422523  X  alpha
1 -0.131937 -1.474869  X   beta
2 -0.391469 -0.466540  Y  alpha
3  1.101283 -1.317454  Y   beta
4 -1.612099  1.004016  Z  alpha

In [27]:
for (k1,k2), group in dframe.groupby(["k1","k2"]):
        print("key1=%s key2=%s" %(k1,k2))
        print(group)
        print("\n")

key1=X key2=alpha
   dataset1  dataset2 k1     k2
0 -1.775308  0.422523  X  alpha


key1=X key2=beta
   dataset1  dataset2 k1    k2
1 -0.131937 -1.474869  X  beta


key1=Y key2=alpha
   dataset1  dataset2 k1     k2
2 -0.391469  -0.46654  Y  alpha


key1=Y key2=beta
   dataset1  dataset2 k1    k2
3  1.101283 -1.317454  Y  beta


key1=Z key2=alpha
   dataset1  dataset2 k1     k2
4 -1.612099  1.004016  Z  alpha

In [28]:
dframe

   dataset1  dataset2 k1     k2
0 -1.775308  0.422523  X  alpha
1 -0.131937 -1.474869  X   beta
2 -0.391469 -0.466540  Y  alpha
3  1.101283 -1.317454  Y   beta
4 -1.612099  1.004016  Z  alpha

In [29]:
group_dict=dict(list(dframe.groupby("k1")))
group_dict["X"]

   dataset1  dataset2 k1     k2
0 -1.775308  0.422523  X  alpha
1 -0.131937 -1.474869  X   beta

In [31]:
group_dict_axis1= dict(list(dframe.groupby(dframe.dtypes,axis=1))) # separates the DF by the types of data
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -1.775308  0.422523
 1 -0.131937 -1.474869
 2 -0.391469 -0.466540
 3  1.101283 -1.317454
 4 -1.612099  1.004016, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [33]:
dataset2_group = dframe.groupby(["k1","k2"])[["dataset2"]]
dataset2_group.mean()

          dataset2
k1 k2
X  alpha  0.422523
   beta  -1.474869
Y  alpha -0.466540
   beta  -1.317454
Z  alpha  1.004016